@import 'styles/palette.scss';

.social {
    padding: 1rem;
    background-color: $maroon;
    margin-top: auto;
    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        &:hover {
            opacity: 0.8;
            transition: opacity 0.5s;
        }
    }
    &--revive {
        background-color: $onyx;
    }
}