@import 'styles/palette.scss';

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 15rem;
    background: linear-gradient(90deg, $primary 0%, $secondary 100%);
    text-align: center;
    &__text {
        padding-right: 0.25rem;
        color: white;
    }
}