@font-face {
  font-family: 'UniSans';
  src: local('UniSans'), url(./fonts/uni-sans.heavy-caps.otf) format('opentype');
}

@font-face {
  font-family: 'UniSansThin';
  src: local('UniSansThin'), url(./fonts/uni-sans.thin-caps.otf) format('opentype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
