@import 'styles/palette.scss';

.hiring {
    margin: 2.5rem 0 5rem;
    &__header {
    }
    &__body {
        margin-top: 0.75rem;
    }
    &__deadline {
        margin-top: 1rem;
    }
    &__box {
        border: 0.125rem solid $secondary;
        padding: 0.75rem;
        margin: 1.25rem 0 1rem;
    }
    &__linkContainer {
        margin-top: 1rem;
    }
    &__link {
        color: $blue;
    }
}