@import 'styles/palette.scss';

.director {
    margin: 4rem 0;
    @media only screen and (max-width: 45rem) {
        margin: 3rem 0;
    }
    &__header {
        text-align: center;
    }

    &__link {
        color: $blue;
    }

    &__role {
        padding: 1.5rem;
        &:not(:last-child) {
            border-bottom: 0.125rem solid $grey3;
        }
    }
    &__underline {
        text-decoration-skip-ink: none;
    }
}