@import 'styles/palette.scss';

.pictures {
    margin: 4rem;
    &__image {
        height: 75%;
        width: 75%;
        margin: auto;
    }
}

.slick-dots li {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: $grey3;
}

.slick-dots .slick-active {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 0.25rem 0 $secondary;
    background-color: $primary;
    opacity: 0.5;
    transition: box-shadow 0.25s ease-in;

}

.slider {
    height: 100%;
    width: 100%;
} 