$primary: #EE2386;
$secondary: #F664AB;
$primary2: #8f4c28;
$secondary2: #a97e75;
$grey1: #f5f5f5;
$grey2: #eeeeee;
$grey3: #e0e0e0;
$grey4: #cfcfcd;
$blueGrey: #37474f;
$white: #ffffff;
$blue: #2196f3;
$maroon: #751141;
$darkBlue: #1b2432;
$onyx: #403f45;